asgiref==3.7.2
Django==5.0.2
django-jazzmin==2.6.0
django-map-widgets==0.4.2
gunicorn==22.0.0
packaging==24.1
phonenumbers==8.13.31
pillow==10.2.0
python-dotenv==1.0.1
sqlparse==0.4.4
tzdata==2023.4
whitenoise==6.6.0